<template>
  <v-row>
    <v-col cols="12" md="10">
      <v-text-field
        placeholder="This question is about ?"
        hint="HINT :Programing, Economy, Banking"
        v-model="questAbout"
      ></v-text-field>
      <v-textarea
        name="input-7-1"
        label="Question"
        placeholder="Ask anything you want"
        hint="HINT: Where is Bela Palanka?"
        v-model="questQuest"
      ></v-textarea>
    </v-col>
    <v-col cols="12" md="2">
      <v-btn style="height: 50%;width:100%" @click="addQuestion()" color="primary">Ask</v-btn>
    </v-col>
  </v-row>
</template>

<script>
import Api from '../logic/apiServices/Api';
export default {
  name: "ask",
  components: {},
  data: () => ({
    questQuest: "",
    questAbout: ""
  }),
  methods: {
    addQuestion(){
      let user = JSON.parse(localStorage.getItem("user"));
      let filter =  user.userID;
      let item={
        userID:filter,
        pitanje:this.questQuest,
        datetime: new Date(),
        kategorija:this.questAbout
      }
      Api.question.post(item).then((response) => {
      alert('Sucesfull');
    }); 

    }
  }
};
</script>

<style>
.full-width-height {
  width: 100%;
  height: 100%;
}
</style>