<template>
  <div class="home">
    <v-row>
      <v-card style="width: 100%">
        <v-card-text>
          <h1>Latest 10 questions</h1>
        </v-card-text>
        <div  v-if="!loading">
        <v-expansion-panels >
          <v-expansion-panel  v-for="item2 in questions" :key="item2._id">
            <v-expansion-panel-header> {{item2.pitanje}}</v-expansion-panel-header>
            <v-expansion-panel-content>
            <ul v-for="item in answers" :key="item._id"> <div v-if="item2._id===item.questionID">Answer : {{item.odgovor}}</div> </ul>
               <v-textarea prepend-inner-icon class="mx-2" label="Leave comment" rows="1" v-model="comment"></v-textarea>
              <v-btn small color="primary" @click="addComment(item2)">Comment</v-btn>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        </div>
         <div v-else  
      style="margin-left:47%;margin-top:10%">
    <v-progress-circular 
      :size="50"
      color="primary"
      indeterminate
    ></v-progress-circular>
  </div>
      </v-card>
    </v-row>
    
  </div>
  
</template>

<script>
import Api from "../logic/apiServices/Api"
export default {
  name: "home",
  components: {

  },
  data: () => ({
    drawer: null,
    questions: [],
    answers: [],
    comment:'',
    loading: true,
    username: localStorage.getItem('user')
  }),
  created() {
    this.$vuetify.theme.dark = true;
    
    Api.question.getList().then(respose => {
      this.questions = respose.data;
      console.log(this.questions);
      this.loading = false;
    });
    Api.answer.getList().then(respose => {
      this.answers = respose.data;
      console.log(this.answers);
    });
    
   
  },
  methods: {
     addComment(question) {
       let user = JSON.parse(localStorage.getItem("user"));
      let filter =  user.userID;
       console.log(question);
      let item = {
      userID : filter,
      questionID : question._id,
      odgovor : this.comment,
      datetime : new Date()
    };
      Api.answer.post(item).then(() => {
       Api.answer.getList().then(respose => {
      this.answers = respose.data;
      console.log(this.answers);
    }); 
      });
    }
  }
};
</script>


<style>
</style>