<template>
  <div>
    <div>Change your Username or Password</div>
    <v-form ref="form" lazy-validation>
      <v-text-field label="Username" required v-model="usernameChange"></v-text-field>

      <v-text-field label="Password" required v-model="passwordChange"></v-text-field>

      <v-btn color="success" @click="changeUser" class="mr-4">Change</v-btn>
    </v-form>
  </div>
</template>

<script>
import Api from "../logic/apiServices/Api";
export default {
  name: "setings",
  components: {},
  data: () => ({
    usernameChange: "",
    passwordChange: ""
  }),
  methods: {
    changeUser() {
      console.log('uso');
      let user = JSON.parse(localStorage.getItem("user"));
      console.log(user);
      let filter = user.userID;
      let item = {
        username: this.usernameChange,
        password: this.passwordChange
      }
      Api.user.put(filter,item).then((response)=>{
        alert(JSON.stringify(response.data.message));
      });
    },
   
  
  }
};
</script>

<style>
</style>